.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background: var(--background-color);
  z-index: 99;
}

.header .navlist {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .navlist .navlink {
  color: var(--secondary-text-color);
  transition: 100ms ease;
}

.header .navlist .navlink.search {
  color: var(--primary-text-color);
  font-size: 1.2rem;
}

.header .navlist .navlink:hover,
.header .navlist .navlink.active {
  color: var(--highlight-color);
}

.logout {
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: none;
  background: var(--background-light-color);
  color: var(--primary-text-color);
  cursor: pointer;
  border: 1px solid transparent;
  transition: ease 100ms;
}

.logout:hover {
  border-color: var(--primary-text-color);
}

@media (max-width: 600px) {
  .navlist .navlink {
    display: none;
  }

  .navlist .navlink.search {
    display: block;
  }
}
