.page {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.results {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.search {
  display: flex;
  gap: 0.5rem;
}

.backButton {
  width: 2.5rem;
  height: 2.5rem;
  background: #222;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.backButton:hover {
  background: #333;
}

.searchForm {
  width: 100%;
}

.searchBox {
  width: 100%;
  height: 2.5rem;
  background: #222;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  outline: none;
  padding: 1rem;
  border: 1px solid #222;
  transition: ease 50ms;
}

.searchBox:focus {
  background: #333;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card {
  height: 2.5rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  background: #222;
  flex: 1;
  min-width: 5rem;
}

.card:hover {
  background: #333;
}

.results {
  display: flex;
  flex-direction: row;
}
