.videoBackground {
  position: relative;
  height: calc(100vh - 3rem);
}

.playback {
  display: flex;
  height: 100%;
}
.playback img,
.playback video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, #000000be, #00000031 90%);
  padding: 1rem;
}
