.edgeButton {
  height: 3rem;
  border: none;
  background: var(--background-off-color);
  color: #fff;
  cursor: pointer;
  transition: 100ms ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.edgeButton:hover {
  background: var(--background-off-hover-color);
}
