.footer {
  height: 3rem;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background-color);
  display: none;
  align-items: center;
  justify-content: space-around;
}

.footer a {
  font-size: 1.4rem;
}

@media (max-width: 40rem) {
  .footer {
    display: flex;
  }
}
