.primaryButton {
  background: var(--highlight-color);
  color: var(--background-color);
  border: none;
  width: 5rem;
  height: 2rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: ease 100ms;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primaryButton:hover {
  background: var(--highlight-off-color);
}
