* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-open-sans);
  text-decoration: none;
}

:root {
  /* background colors */
  --background-color: #14171f;

  /* Accent colors */
  --highlight-color: #f5c518;
  --highlight-dark-color: #c19c16;

  /* text colors */
  --primary-text-color: #fff;
  --secondary-text-color: #858585;
}

body {
  background: var(--background-color);
  color: var(--primary-text-color);
}
