.movieListView {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* margin: 1rem; */
}

.movieListView .title {
  font-size: 1.2rem;
  font-weight: 600;
}

.movieListView .noMovies {
  text-align: center;
  color: var(--background-light-color);
}
