.moviesGroup {
  padding: 0.5rem 1rem;
}

.slide {
  width: auto;
  flex-shrink: 0;
}

.titleContainer {
  margin: 1rem 0rem;
}

.title {
  font-weight: 600;
}

.subString {
  font-size: 0.9rem;
  color: #ccc;
}
